<a href="https://datamics.com/de/courses/"><img src=../DATA/bg_datamics_top.png></a>

<em text-align:center>© Datamics</em>
# Python Crashkurs

Bitte beachte, dass das hier kein vollumfänglicher Programmier- oder Python-Kurs ist. Solltest du noch gar keine Erfahrung mit dem Programmieren haben, dann ist unser [Python Bootcamp](https://www.udemy.com/originale-python-bootcamp/) vermutlich besser für dich geeignet.

**Dieses Notebook dient nur als Code-Referenz für die Videos. Es werden hier keine weiterführenden Erklärungen gegeben.**

Wir werden die folgenden Themen in der angegebenen Reihenfolge durchgehen:

* Daten Typen
    * Zahlen
    * Strings
    * Printing (Ausgabe)
    * Listen
    * Dictionaries
    * Booleans (Wahrheitswerte)
    * Tuple 
    * Sets
* Vergleichsoperatoren
* If, elif & else Anweisungen
* For Schleifen
* While Schleifen
* Range()
* List comprehension (Listen Abstraktion)
* Funktionen
* Lambda expressions (Ausdrücke)
* Map und Filter
* Methoden
___

## Daten Typen
### Zahlen

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variablen Zuweisung

In [8]:
# Der Name kann nicht mit Zahlen oder Sonderzeichen beginnen
name_der_variable = 2

In [9]:
x = 2
y = 3

In [10]:
z = x * y

In [11]:
z

6

### Strings

In [12]:
'Einfache Anführungszeichen'

'Einfache Anführungszeichen'

In [13]:
"Doppelte Anführungszeichen"

'Doppelte Anführungszeichen'

In [14]:
"Umschließe 'andere Zitate' mit anderen Anführungszeichen"

"Umschließe 'andere Zitate' mit anderen Anführungszeichen"

### Printing (Ausgabe)

In [15]:
x = "Hallo"

In [16]:
x

'Hallo'

In [17]:
print(x)

Hallo

In [18]:
num = 23
name = 'David'

In [19]:
print('Mein Alter ist: {one}, und mein Name lautet: {two}'.format(one=num,two=name))

Mein Alter ist: 23, und mein Name lautet: David

In [20]:
print('Mein Alter ist: {}, und mein Name lautet: {}'.format(num,name))

Mein Alter ist: 23, und mein Name lautet: David

### Listen

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
['Hi',2,3]

['Hi', 2, 3]

In [23]:
meine_liste = ['a','b','c']

In [24]:
meine_liste.append('d')

In [25]:
meine_liste

['a', 'b', 'c', 'd']

In [26]:
meine_liste[0]

'a'

In [27]:
meine_liste[1]

'b'

In [28]:
meine_liste[1:]

['b', 'c', 'd']

In [29]:
meine_liste[:1]

['a']

In [30]:
meine_liste[0] = "NEU"

In [31]:
meine_liste

['NEU', 'b', 'c', 'd']

In [32]:
schachtelung = [1,2,3,[4,5,['ziel']]]

In [33]:
schachtelung[3]

[4, 5, ['ziel']]

In [34]:
schachtelung[3][2]

['ziel']

In [35]:
schachtelung[3][2][0]

'ziel'

### Dictionaries

In [36]:
d = {'key1':'item1','key2':'item2'}

In [37]:
d

{'key1': 'item1', 'key2': 'item2'}

In [38]:
d['key1']

'item1'

In [39]:
d = {'k1':{'innerekey': [1,2,3]}}

In [40]:
d['k1']['innerekey'][1]

2

### Booleans (Wahrheitswerte)

In [41]:
True

True

In [42]:
False

False

### Tupel

In [43]:
t = (1,2,3)

In [44]:
t[0]

1

In [45]:
t[0] = 'NEU'

TypeError: 'tuple' object does not support item assignment

### Sets

In [46]:
{1,2,3}

{1, 2, 3}

In [47]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [48]:
s

{1, 2, 3}

In [49]:
s.add(5)

In [50]:
s

{1, 2, 3, 5}

## Vergleichsoperatoren

In [51]:
1 > 2

False

In [52]:
1 < 2

True

In [53]:
1 >= 1

True

In [54]:
1 <= 4

True

In [55]:
1 == 1

True

In [56]:
'hi' == 'bye'

False

## Logische Operatoren

In [57]:
(1 > 2) and (2 < 3)

False

In [58]:
(1 > 2) or (2 < 3)

True

In [59]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## If, elif und else Anweisungen

In [60]:
if 1 < 2:
    print('Yep!')

Yep!

In [61]:
if 1 < 2:
    print('yep!')

yep!

In [62]:
if 1 < 2:
    print('Zuerst')
else:
    print('Zuletzt')

Zuerst

In [63]:
if 1 > 2:
    print('Zuerst')
else:
    print('Zuletzt')

Zuletzt

In [64]:
if 1 == 2:
    print('Zuerst')
elif 3 == 3:
    print('In der Mitte')
else:
    print('Zuletzt')

In der Mitte

## For Schleife

In [65]:
sequenz = [1,2,3,4,5]

In [66]:
for item in sequenz:
    print(item)

1
2
3
4
5

In [67]:
for item in sequenz:
    print('Yep!')

Yep!
Yep!
Yep!
Yep!
Yep!

In [68]:
for fisch in sequenz:
    print(fisch+fisch)

2
4
6
8
10

## While Schleife

In [69]:
i = 1
while i < 5:
    print('i ist: {}'.format(i))
    i = i+1

i ist: 1
i ist: 2
i ist: 3
i ist: 4

## Range()

In [70]:
range(5)

range(0, 5)

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

## List comprehension (Listen Abstraktion)

In [73]:
x = [1,2,3,4]

In [74]:
aus = []
for item in x:
    aus.append(item**2)
print(aus)

[1, 4, 9, 16]

In [75]:
[item**2 for item in x]

[1, 4, 9, 16]

## Funktionen

In [76]:
def meine_funk(param1='standard'):
    """
    Funktionsbeschreibung steht hier.
    """
    print(param1)

In [77]:
meine_funk

In [78]:
meine_funk()

standard

In [79]:
meine_funk('Neuer Parameter')

Neuer Parameter

In [80]:
meine_funk(param1='Neu')

Neu

In [81]:
def quadrat(x):
    return x**2

In [82]:
aus = quadrat(3)

In [83]:
print(aus)

9

## Lambda expressions (Ausdrücke)

In [84]:
def mal2(var):
    return var*2

In [85]:
mal2(4)

8

In [86]:
lambda var: var*2

## Map und Filter

In [87]:
seq = [1,2,3,4,5]

In [88]:
map(mal2,seq)

In [89]:
list(map(mal2,seq))

[2, 4, 6, 8, 10]

In [90]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [91]:
filter(lambda item: item%2 == 0,seq)

In [92]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Methoden

In [93]:
st = 'Hallo mein Name ist Sam'

In [94]:
st.lower()

'hallo mein name ist sam'

In [95]:
st.upper()

'HALLO MEIN NAME IST SAM'

In [96]:
st.split()

['Hallo', 'mein', 'Name', 'ist', 'Sam']

In [97]:
tweet = 'Los Sports! #Sports'

In [98]:
tweet.split('#')

['Los Sports! ', 'Sports']

In [99]:
tweet.split('#')[1]

'Sports'

In [100]:
d

{'k1': {'innerekey': [1, 2, 3]}}

In [101]:
d.keys()

dict_keys(['k1'])

In [102]:
d.items()

dict_items([('k1', {'innerekey': [1, 2, 3]})])

In [103]:
lst = [1,2,3]

In [104]:
lst.pop()

3

In [105]:
lst

[1, 2]

In [106]:
'x' in [1,2,3]

False

In [107]:
'x' in ['x','y','z']

True

## Gut gemacht!